// app global css in Sass form
body
  background-color: primary
p
  font-size: 16px
  margin-bottom: 0px
h1
  font-size:40px
  margin:0px
h2
  font-size:30px
  margin:0px
h4
  margin-top: 10px
  margin-bottom:0px
  font-family: 'Questrial'
  font-size:33px
h5
  margin-top: 0px
  margin-bottom: 0px
  font-family: 'Questrial'
  font-size: 25px
h6
  margin: 0px
  margin-top: 5px
  margin-bottom: 5px
  font-size:  18px
  font-family: 'Questrial'

.pwinput
  font-size: 40px
.greenMsg
  color: $green
.redMsg
  color: $red
.outlined
  outline: 1.4px solid rgba(0, 0, 0, 0.12)
.q-card--bordered
  outline: 2px solid $secondary
  border: 0px
.q-separator--horizontal
  height:2px
  background-color: rgba(0, 0, 0, 0.12)
.q-card
  border-radius: 15px
.q-btn
  border-radius: 0px
.centered
  justify-content: center
  display: flex
  flex-wrap: wrap

@font-face
  font-family: Questrial
  src: url(./fonts/Questrial-Regular.ttf)

.font-Questrial
  font-family: 'Questrial'

body.body--dark
  background: #3E426D

.boiddarkbg
  background: #223055
