// src/css/quasar.variables.sass

$primary   : #3E426D // main boid avatar dark color
$secondary : #EE883D // avatar organge
$accent    : #b7b7b7
$boidgrey  : #616161 // used only on claimcards
$dark      : #3E426D // dark bg on cards and designer menu etc
$lightblue : #2A547D

$positive  : #97bf5a
$negative  : #ff0000
$info      : #0f8db8
$warning   : #e8c500
